VITE_API_BASE_URL=https://psychic-succotash-x5qx967x5xw6hgjg-3000.app.github.dev/api
VITE_FRONTEND_URL=https://psychic-succotash-x5qx967x5xw6hgjg-5173.app.github.dev
VITE_GOOGLE_CLIENT_ID=1071736779026-7jipfk4r0jdru3ldju4cf73u1ocrq27v.apps.googleusercontent.com