# Primary LLM Provider Keys (Implicitly read by Langchain constructors)
GROQ_API_KEY=
MISTRAL_API_KEY=
GOOGLE_API_KEY=
GOOGLE_GEMINI_API_KEY=

# Secondary/Fallback LLM Provider Keys (Explicitly read by your code)
GROQ_API_KEY_II=
MISTRAL_API_KEY_II=
GEMINI_API_KEY_II=
GEMINI_SECONDARY_KEY=


# Vector Database
QDRANT_URL=
QDRANT_API_KEY=

# Tavily AI Search API
TAVILY_API_KEY=

